[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = git://github.com/vim-scripts/ruby-matchit.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-gitgrep"]
	path = bundle/vim-gitgrep
	url = git://github.com/aghareza/vim-gitgrep.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/Zoomwin"]
	path = bundle/Zoomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/Kwbd.vim"]
	path = bundle/Kwbd.vim
	url = git://github.com/rgarver/Kwbd.vim.git
[submodule "bundle/jasmine"]
	path = bundle/jasmine
	url = git://github.com/claco/jasmine.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/vim-scripts/ack.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
